.ecommerceCard .not--loged.display--card,
.digitalTCard .not--loged.display--card {
  display: block;
}

.ecommerceCard .not--loged.nodisplay--card,
.digitalTCard .not--loged.nodisplay--card {
  display: none;
}

.ecommerceCard .loged,
.digitalTCard .loged {
  display: none;
}

.ecommerceCard .loged.display--card,
.digitalTCard .loged.display--card {
  display: block;
}
