<div class="container">
  <div class="row justify-content-md-center mt-5">
    <div class="col-10">
      <h3 id="sponsorTitle">Listado de</h3>
    </div>
  </div>
  <div class="row justify-content-md-center mt-5">
    <div class="col-10">
      <button type="button" class="btn btn-primary btn-lg" id="addSponsorButton">Agregar</button>
    </div>
  </div>
  <div class="row justify-content-md-center mt-5">
    <div class="col-10">
      <table class="table table-striped" id="sponsorsList">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th>Nombre Empresa</th>
            <th>Logo</th>
            <th>Prioridad Home</th>
            <th>Prioridad Cards</th>
            <th>Imagen de Landing</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
</div>
